# Count or Frequency Encoding

We replace each label of the categorical variables by the count , this is the amount of times each label has appears in the dataset, or the frequency.

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("D:/Python DataScience/Feature Engineering/mercedesBenzData/train.csv",usecols=['X1','X2'])

In [4]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [5]:
df.shape

(4209, 2)

Now if we do the one hot encoding we are having like so many columns and number of dimensions are increased by huge number.

In [6]:
pd.get_dummies(df).shape

(4209, 71)

In [7]:
len(df.X1.unique())

27

In [8]:
len(df.X2.unique())

44

## Visualizing the label and count

In [11]:
df_X1_freq = df.X1.value_counts().to_dict()

In [12]:
df_X1_freq

{'aa': 833,
 's': 598,
 'b': 592,
 'l': 590,
 'v': 408,
 'r': 251,
 'i': 203,
 'a': 143,
 'c': 121,
 'o': 82,
 'w': 52,
 'z': 46,
 'u': 37,
 'e': 33,
 'm': 32,
 't': 31,
 'h': 29,
 'f': 23,
 'y': 23,
 'j': 22,
 'n': 19,
 'k': 17,
 'p': 9,
 'g': 6,
 'ab': 3,
 'd': 3,
 'q': 3}

In [13]:
df_X2_freq = df.X2.value_counts().to_dict()

In [14]:
df_X2_freq

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'i': 25,
 'k': 25,
 'b': 21,
 'ao': 20,
 'z': 19,
 'ag': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'y': 11,
 'ap': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'q': 5,
 'an': 5,
 'al': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'c': 1,
 'ar': 1,
 'l': 1,
 'am': 1,
 'o': 1,
 'aa': 1,
 'j': 1,
 'af': 1}

## Now we will replace each category with its frequency count

In [15]:
df.X1 = df.X1.map(df_X1_freq)
df.X2 = df.X2.map(df_X2_freq)

In [16]:
df.head()

    X1   X2
0  408    6
1   31    4
2   52  137
3   31  137
4  408  137

### Advantages and Disadvantages :

Dimesnions are reduced is the advantage.
When two categories have same count than they both will be assigned same value is disadvantage.